// Section Four */
.section-four {
  margin-bottom: rem-calc(100);
  margin-top: rem-calc(100);
  width: auto;
  
  h3,
  p {
    color: $secondary-color;
  }
	
  h3 {
    font-family: $font-tertiary;
    font-size: rem-calc(18);
    margin-bottom: rem-calc(30);
    text-transform: uppercase;
  }

  p {
    font-family: $font-primary;
    font-size: rem-calc(30);
    font-weight: $light;
    margin-bottom: rem-calc(50);
  }
	
  .button {
    font-family: $font-primary;
  }
}

.banner {
  background-color: $tertiary-color;
  color: $secondary-color;
  
  p {
    font-family: $font-primary;
    font-size: rem-calc(34);
    font-style: italic;
    padding-top: rem-calc(20);
    text-align: center;
  }
}

@media #{$medium-up}{
  .banner p {
    text-align: left;
  }
}

@media #{$large-up}{
  .section-four {
    margin-left: rem-calc(150);
    margin-right: rem-calc(150);
  }
}
