// Nav Bar //
.top-bar-section ul li > a.button {
  @extend .prime;
  height: rem-calc(50);
  padding-top: rem-calc(12);
}

.top-bar-section .has-form {
  padding: rem-calc(0);
}

@media #{$medium-up}{
  .top-bar-section ul li > a.button {
    top: rem-calc(18);	
	}

  .top-bar-section .has-form {
    padding-left: rem-calc(26);
    padding-right: rem-calc(26);
	}
}

