/* Global Settings */
/* Colors */
$primary-color: #426096;
$secondary-color: #7F6F5A;
$tertiary-color: #F4F0eb;
$white: #ffffff;

/* Fonts */
$font-primary: 'Lato', sans-serif;
$font-secondary: 'Muli', sans-serif;
$font-tertiary: 'Montserrat', sans-serif;

/* Buttons */
.prime {
	background-color: $primary-color;
	border: $primary-color 1px solid;
	color: $white;
	&:hover {
		background-color: $primary-color * 0.5 ;
	}
}
.second {
	@extend .prime;
	background-color: $secondary-color;
	border: $secondary-color 1px solid;
	&:hover {
		background-color: $secondary-color * 0.5;
	}
}

.third {
	background-color: $white;
	border: $primary-color 1px solid;
	color: $primary-color;
	&:hover {
		background-color: $primary-color;
		color: $white;
	}
}


/* Nav Bar */
.top-bar-section ul li > a.button {
	@extend .prime;
	height: rem-calc(50);
	padding-top: rem-calc(12);
	top: rem-calc(18);
}


/* Banner Image */
.fullimage {
	background-image: url(../imgs/banner_placeholder.png);
	height: rem-calc(623);
	max-width: 100%;
	.fullimage-content {
		top: rem-calc(138);
	}
	h3, p {
		color: $white;
		font-family: $font-primary;
	}
	h3 {
		font-size: rem-calc(44);
	}
	p {
		font-size: rem-calc(30);
	}
	button {
		font-size: rem-calc(17);
	}
}

/* Section One */
.section-one-content p {
		color: $secondary-color;
		font-size: rem-calc(30);
		margin-bottom: rem-calc(58);
}
.section-one {
	margin-top: rem-calc(70);
	margin-bottom: rem-calc(100);
	img {
		margin-left: rem-calc(24);
	}
	.large-3:last-child {
		float: left;
	}
}

/* Section Two */
.section-two-headline {
	color: $secondary-color;
	font-family: $font-tertiary;
	font-size: rem-calc(18);
	margin-bottom: rem-calc(74);
	text-align: center;
	text-transform: uppercase;
}
	.section-two-list {	
		hr {
			border-color: #e0d5c5;
		}
		.test {
			background-color: magenta;
			transition: background-color 300ms ease-out;
			&:hover {
				background-color: blue !important;
			}
		}
		li { 
			list-style-type: none;

			

			&:hover {
				background-color: #F4F0eb;
			}
			img {
				margin-left: rem-calc(24);
				margin-bottom: rem-calc(36);
			}
			h5 {
				color: #304977;
				font-family: $font-primary;
				font-size: rem-calc(25);
				padding-top: rem-calc(0);
			}
			p {
				color: #222222;
				font-family: $font-primary;
				font-size: rem-calc(24);
			}
			.button {
				margin-top: rem-calc(29);
			}
		}
	}
.li-text  {
	margin-top: rem-calc(25);
}


/* Section Three */
@mixin sectionthree_fonts {
	color: #304977;
	font-family: $font-primary;
	font-size: rem-calc(26);
	line-height: 2;
	padding-top: rem-calc(15);
	&:hover {
		color: white;
	}
}

.section-three-headline {
	@extend .section-two-headline;
	margin-top: rem-calc(60);
}
@media #{$small-up} { 
	.section-three-box-one {
		@include sectionthree_fonts;
		border: solid 2px #ded2c1;
		color: $primary-color;
		height: rem-calc(231);
		&:hover {
			background-color: $primary-color;
		}
	}
	.section-three-box-two {
		@extend .section-three-box-one;
		@include sectionthree_fonts;
		margin-left: rem-calc(15);
		max-width: 47.5%;
		float: right;
	}
	.section-three-box-three {
		@extend .section-three-box-one;
		@include sectionthree_fonts;
		height: rem-calc(245);
		margin-top: rem-calc(15);
		margin-bottom: rem-calc(15);
		max-width: 100%;
	}
}




/* Footer */
.banner {
	background-color: #F4F0eb;
}

.footer {
	background-color: $primary-color;
	color: $white;
	a {
		color: $white;
		&::hover {
			color: $primary-color;
		}
	}
	h3 {
		font-family: Georgia, serif;
		font-size: rem-calc(18);
		font-style: italic;
	}
	p {
		font-family: $font-primary;
		font-size: rem-calc(15);
		a:hover {
			text-decoration: underline;
		}
	}
}

