/* Global Settings */
/* Colors */
$primary-color: #426096;
$secondary-color: #7F6F5A;
$tertiary-color: #F4F0eb;
$white: #ffffff;

/* Fonts */
$font-primary: 'Lato', sans-serif;
$font-secondary: 'Muli', sans-serif;
$font-tertiary: 'Montserrat', sans-serif;

/* Buttons */
.prime {
	background-color: $primary-color;
	border: $primary-color 1px solid;
	color: $white;
	&:hover {
		background-color: $primary-color * 0.5 ;
	}
}
.second {
	@extend .prime;
	background-color: $secondary-color;
	border: $secondary-color 1px solid;
	&:hover {
		background-color: $secondary-color * 0.5;
	}
}

.third {
	background-color: $white;
	border: $primary-color 1px solid;
	color: $primary-color;
	&:hover {
		background-color: $primary-color;
		color: $white;
	}
}


/* Nav Bar */
.top-bar-section ul li > a.button {
	@extend .prime;
	height: rem-calc(50);
	padding-top: rem-calc(12);
	top: rem-calc(18);
}

/* Banner Image */
.fullimage {
	background-image: url(../imgs/banner_placeholder.png);
	height: rem-calc(623);
	max-width: 100%;
	.fullimage-content {
		top: rem-calc(138);
	}
	h3, p {
		color: $white;
		font-family: $font-primary;
	}
	h3 {
		font-size: rem-calc(44);
	}
	p {
		font-size: rem-calc(30);
	}
	button {
		font-size: rem-calc(17);
	}

}

/* Section One */
.section-one-content p {
		color: $secondary-color;
		font-size: rem-calc(30);
}

/* Section Two */
.section-two-headline {
	color: $secondary-color;
	font-family: $font-tertiary;
	font-size: rem-calc(18);
	text-align: center;
	text-transform: uppercase;
}
.section-two-list li {
	list-style-type: none;
	&:hover {
		background-color: #F4F0eb;
	}
}

/* Section Three */
.section-three-headline {
	@extend .section-two-headline
}

.section-three-box {
	border: solid 1px $secondary-color;

}


/* Footer */
.banner {
	background-color: #F4F0eb;
}

.footer {
	background-color: $primary-color;
	color: $white;
	a {
		color: $white;
		&::hover {
			color: $primary-color;
		}
	}
	h3 {
		font-family: Georgia, serif;
		font-size: rem-calc(18);
		font-style: italic;
	}
	p {
		font-family: $font-primary;
		font-size: rem-calc(15);
		a:hover {
			text-decoration: underline;
		}
	}
}

